* {
  margin: 0;
  padding: 0;
}

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  height: 30px;
  width: 100%;
  background: #f1f1f1;
}
.nav > p {
  line-height: 30px;
  height: 30px;
  font-size: 11px;
  color: #666666;
  float: left;
  padding-left: 140px;
}
.nav ul {
  float: right;
  width: 271px;
  height: 30px;
  line-height: 30px;
  margin-right: 140px;
}
.nav ul li {
  float: left;
  text-align: center;
}
.nav ul li:nth-child(3) {
  position: relative;
}
.nav ul li:nth-child(3) .contact {
  position: absolute;
  width: 299px;
  height: 170px;
  right: -30px;
  background: #FFFFFF;
  display: none;
}
.nav ul li:nth-child(3) .contact div {
  float: left;
  padding: 15px;
}
.nav ul li:nth-child(3) .contact div img {
  display: block;
}
.nav ul li:nth-child(3):hover {
  background: #FFFFFF;
}
.nav ul li:nth-child(3):hover .contact {
  display: block;
}
.nav ul li:nth-child(4) {
  position: relative;
}
.nav ul li:nth-child(4) a {
  border: none;
}
.nav ul li:nth-child(4) > p {
  display: none;
  background: #FFFFFF;
  font-size: 9px;
  padding: 15px 10px;
  position: absolute;
  left: 0;
  width: 90px;
}
.nav ul li:nth-child(4):hover {
  background: #FFFFFF;
}
.nav ul li:nth-child(4):hover > p {
  display: block;
}
.nav ul li a {
  font-size: 11px;
  color: #666666;
  padding: 0 10px;
  border-right: 1px solid #c0c0c0;
}
.nav ul li a:hover {
  color: #7dbf2d;
}

.logoList {
  height: 100px;
}
.logoList h1 {
  width: 190px;
  height: 43px;
  margin-top: 30px;
  margin-left: 140px;
}

.logins {
  width: 100%;
  height: 470px;
  background: url(../images/login-bg.png) no-repeat center;
}
.logins .panel {
  width: 1000px;
  height: 470px;
  margin: 0 auto;
  background: url(../images/login-login.png) no-repeat center left;
}
.logins .panel .loginer {
  width: 330px;
  height: 326px;
  background: white;
  margin-top: 30px;
  float: right;
  border-radius: 4px;
  position: relative;
  bottom: -10px;
}
.logins .panel .loginer .loginList {
  width: 278px;
  height: 278px;
  margin: 24px 26px;
  text-align: center;
}
.logins .panel .loginer .loginList .telLogin {
  width: 278px;
  height: 19px;
  margin-bottom: 24px;
}
.logins .panel .loginer .loginList .telLogin .one {
  color: #FFC000;
  width: 108px;
  height: 29px;
}
.logins .panel .loginer .loginList .telLogin a {
  font-size: 24px;
  color: #666666;
  font-weight: bold;
}
.logins .panel .loginer .loginList .username {
  width: 278px;
  height: 38px;
  margin-bottom: 18px;
  border: 1px solid #ddd;
}
.logins .panel .loginer .loginList .username > div {
  float: left;
  width: 38px;
  height: 36px;
  line-height: 38px;
  background: #ddd;
}
.logins .panel .loginer .loginList .username > div i {
  width: 20px;
  height: 20px;
  padding-left: 8px;
  color: white;
}
.logins .panel .loginer .loginList .username input {
  float: left;
  height: 36px;
  border: none;
  outline: none;
  padding-left: 12px;
}
.logins .panel .loginer .loginList .pawd {
  width: 278px;
  height: 38px;
  margin-bottom: 18px;
  border: 1px solid #ddd;
}
.logins .panel .loginer .loginList .pawd > div {
  float: left;
  width: 38px;
  height: 36px;
  line-height: 38px;
  background: #ddd;
}
.logins .panel .loginer .loginList .pawd > div i {
  width: 20px;
  height: 20px;
  padding-left: 8px;
  color: white;
}
.logins .panel .loginer .loginList .pawd input {
  float: left;
  height: 36px;
  border: none;
  outline: none;
  padding-left: 12px;
}
.logins .panel .loginer .loginList label {
  width: 278px;
  height: 18px;
  color: #C0C0C0;
  font-size: 13px;
  margin-top: -6px;
}
.logins .panel .loginer .loginList label input {
  margin-right: 5px;
}
.logins .panel .loginer .loginList button {
  width: 276px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #FFC000;
  font-size: 18px;
  color: white;
  border: none;
  font-weight: 700;
  margin-top: 15px;
  border-radius: 2px;
}
.logins .panel .loginer .register {
  width: 328px;
  height: 35px;
  line-height: 35px;
  background: #F5F5F5;
  border-radius: 0 0 4px 4px;
  position: absolute;
  bottom: 0;
  left: 1px;
}
.logins .panel .loginer .register a {
  font-size: 18px;
  color: #7bbe2b;
  padding-left: 210px;
}
.logins .panel .loginer .register i {
  color: #7bbe2b;
}

.context > p {
  text-align: center;
  font-size: 14px;
  color: #666666;
}
.context > p:nth-child(1) {
  margin-top: 20px;
}
.context > p a {
  color: #666666;
}
.context > p a:hover {
  color: #7dbf2d;
}

/*# sourceMappingURL=login.css.map */
