.mains{
   h1{
       width: 1000px;
       height: 30px;
       margin:auto;
       border-bottom: 2px solid #efefef;
       margin-top: 15px;
       line-height: 30px;
       font-size: 18px;
       color: #666;
       font-weight: normal;
   }
   .carts{
       width: 1000px;
       height: 997px;
       margin: auto;
       .carts_one{
//         width: 1000px;
           height: 40px;
           line-height: 40px;
           font-size: 14px;
           span{
               display: block;
               float: left;
               width: 104px;
               height: 38px;
               color: #666;
               padding-left: 10px;
               &:nth-child(2), &:nth-child(3){
                   display: none;
                   width: 0;
               }
               &:nth-child(4){
                   width: 362px;
               }
               &:nth-child(6){
                   width: 130px;
               }
               &:nth-child(7){
                   width: 132px;
               }
               &:nth-child(8){
                   width: 86px;
               }
           }
        }
   }
}
