.mains{
   h1{
       width: 1000px;
       height: 30px;
       margin:auto;
       border-bottom: 2px solid #efefef;
       margin-top: 15px;
       line-height: 30px;
       font-size: 18px;
       color: #666;
       font-weight: normal;
   }
   .carts{
       width: 1000px;
       height: 997px;
       margin: auto;
       .carts_one{
           height: 40px;
           line-height: 40px;
           font-size: 14px;
           span{
               display: block;
               float: left;
               width: 104px;
               height: 38px;
               color: #666;
               padding-left: 10px;
               &:nth-child(2), &:nth-child(3){
                   display: none;
                   width: 0;
               }
               &:nth-child(4){
                   width: 362px;
               }
               &:nth-child(6){
                   width: 130px;
               }
               &:nth-child(7){
                   width: 132px;
               }
               &:nth-child(8){
                   width: 86px;
               }
           }
        }
        .cart_body{
            width: 1000px;
            height: 306px;
            margin: auto;
            .row{
                width: 978px;
                height: 80px;
                margin: auto;
                padding: 10px;
                border: 1px soli #ddd;
                position: relative;
                >span{
                    display: block;
                    float: left;
                    &:nth-child(1){
                        width: 30px;
                        height: 18px;
                    }
                    &:nth-child(2){
                        width: 0;
                        display: none;
                    }
                    &:nth-child(3){
                        width: 80px;
                        height: 80px;
                        background: white;
                        cursor: pointer;
                        border: 1px solid #f2f2f2;
                        img{
                            width: 80px;
                            height: 80px;
                        }
                    }
                    &:nth-child(4){
                        width: 376px;
                        height: 38px;
                        cursor: pointer;
                        font-size: 14px;
                        color: #666;
                        margin-left: 10px;
                    }
                    &:nth-child(5){
                        width: 118px;
                        height: 18px;
                        font-size: 14px;
                    }
                    &:nth-child(6){
                        width: 100px;
                        height: 22px;
                        font-size: 14px;
                        display: block;
                        border: 1px solid #FFC000;
                        .minus, .add{
                            width: 18px;
                            height: 22px;
                            display: block;
                            text-align: center;
                        }
                        .minus{
                            border-right: 1px solid #FFC000;
                            float: left;
                            text-align: center;
                        }
                        .add{
                            background: #FFC000;
                            border: none;
                            float: right;
                        }
                        input{
                            width: 48px;
                            height: 20px;
                            outline: none;
                            border: none;
                            float: left;
                        }
                    }
                    &:nth-child(7){
                        width: 150px;
                        height: 18.5px;
                        font-weight: bold; 
                        margin-left: 20px;
                    }
                }
            }
        }
   }
}
