*{margin: 0;padding: 0;overflow: visible;}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form,img { margin:0; padding:0; }
ul{
    li{
        list-style: none;
        }
  }
a {text-decoration: none;}
.nav{
    height: 30px;
    width: 100%;
    background: #f1f1f1;  
    >p {
        line-height: 30px;
        height: 30px;
        font-size: 11px;
        color: #666666;
        float: left;
        padding-left: 32px;
    }
    ul {                          
        float: right;
        width: 271px;
        height: 30px;
        line-height: 30px;
        li {
            float: left;
            text-align: center; 
            &:nth-child(3){
                position: relative;
                .contact {
                    position: absolute;
                    width: 299px;
                    height: 170px;
                    right: -30px;
                    background: #FFFFFF;
                    display: none;
                    div {
                        float: left;
                        padding: 15px;
                        img {
                            display: block;
                        }
                    }
                    }
                &:hover {
                    background: #FFFFFF;
                    .contact {
                        display: block;  
                    }
                }
            }
            &:nth-child(4){
                a{
                   border: none; 
                }
                position: relative;
                >p{
                    display: none;
                    background: #FFFFFF;
                    font-size: 9px;
                    padding: 15px 10px;
                    position: absolute;
                    left: 0;
                    width: 90px;
                }
                &:hover{
                    background: #FFFFFF;
                    >p{
                        display: block;
                    }
                }
            }
            a {
                font-size: 11px;
                color: #666666;
                padding: 0 10px;
                border-right: 1px solid #c0c0c0;
                &:hover{
                color: #7dbf2d;
                }
            }
        }
    }
}
.logoList{
    height: 100px;
    h1{
        width: 190px;
        height: 43px;
        margin-top: 30px;
        margin-left: 32px;
        background: url(../images/PC-LOGO.png) no-repeat;
        float: left;
        >a {
          display: none;
        }
    }
     .search {
         width: 606px;
         height: 99px;
         float: left;
         margin-left: 150px;
         form {
             width: 604px;
             height: 36px;
             border: 1px solid #ffc000;
             border-radius: 5px;
             margin-top: 30px;
             input{
                 border: none;
                 outline: none;
             }
             .txt{
                 width: 507px;
                 height: 26px;
                 line-height: 26px;
                 font-size: 12px;
                 padding-left: 11px;
             }
             .sub{
                 width: 81px;
                 height: 36px;
                 background: #ffc000;
                 font-size: 18px;
                 color: white;
             }
             .association_box{
                 background: white;
                 top: 97px;
                 z-index: 1111;
                 border: 1px solid #ccc;
                 display: none;
             }
         }
         .keyword{
              height: 31px;
              width: 330px;
              margin-left: 10px;
              a {
                  font-size: 11px;
                  color: #c0caca;
                  padding-right: 12px;
              }
         }
     } 
    .cart{
        width: 158px;
        height: 35px;
        line-height: 35px;
        border: 1px solid #ffc000;
        border-radius: 5px;
        margin-top: 30px ;
        margin-left: 94px;
        float: left;
        position: relative;
        i {
            position: absolute;
            left: 120px;
            top: 3px;
            &:nth-child(1){ 
                font-size: 34px!important;
                color: #ffc000;
                left:10px;
            }
        }
        span {
            position: absolute;
            left:50px;
            a{
                font-size: 12px;
                color: #666666;
                &:hover{color: #ffc000;}
            }
        }
    }
    
}
.classify {
    overflow: visible;
    height: 35px;
    border-bottom: 2px solid #6cac1b;
    .stair{
        width: 160px;
        height: 27px;
        margin-left: 32px;    
        background: #6cac1b;
        padding-left: 30px; 
        padding-top: 10px;
        span{
            font-size: 16px;
            color: #33332b;
            font-weight: 700;
        } 
        
    }
    .second{
        width: 190px;
        height: 360px;
        background: white;
        margin-left: 32px;
        z-index: 9999999999999999;
        overflow: visible;
        position: absolute;
        background: rgba(255, 255, 255, 0.7);
        li{
            height: 40px;
            width: 190px;
            line-height: 40px;
            position: relative;
            background: url(../images/5.png) no-repeat right 20px center;
            
            &:hover{
                background: rgba(255, 255, 255, 1);
            }
            >a{
                font-size: 12px;
                color: #333333;
                padding-left: 20px;
            }
            &:hover{
                a{
                    color: #7dbf2d;
                }
            }
            .three {
                display: none;
                position: absolute;
                top: 0;
                right: -1007px;
                width: 1007px;
                border: 1px solid #7dbf2d;
                background: rgba(255, 255, 255, 1);
                border-top: none;
                >div{
                    float: left;
                    .big{
                        width: 765px;
                        .small {
                            width:765px;
                            .left{
                                width: 105px;
                                float: left;
                                line-height: 34px;
                                >a{
                                    display: block;
                                    font-size: 11px;
                                    color: #333333;
                                    font-weight: 700;
                                    text-align: right;
                                    width: 105px;
                                    padding-right: 5px;
                                    &:hover{
                                        color: #7dbf2d;
                                    }
                                }
                            }
                            .right{
                                float: left;
                                width: 655px;
                                line-height: 34px;
                                border-bottom: 1px solid #dddddd;
                                padding-left: 5px;
                                a{
                                    font-size: 11px;
                                    color: #666666;
                                    &:hover{
                                        color: #7dbf2d;
                                    }
                                }
                            }
                        }     
                    } 
                }
                .imgs{
                    float: left;
                    width: 240px;
                    height: 359px;
                    a img{
                        width: 135px;
                        height: 122px;
                        margin-left: 63px;
                        margin-top: 55px;
                    }
                    span{
                        width: 190px;
                        height: 42px;
                        display: block;
                        background: #FFC000;
                        margin-left: 20px;
                        font-size: 12px;
                        padding-left: 10px;
                    }
                }
            }
            &:hover{
                .three{
                    display: block;
                }    
            }
            &:nth-child(2) .three{
                top: -40px;
            }
            &:nth-child(3) .three{
                top: -80px;
            }
            &:nth-child(4) .three{
                top: -120px;
                 
            }
            &:nth-child(5) .three{
                top: -160px;
            }
            &:nth-child(6) .three{
                top: -200px;
            }
            &:nth-child(7) .three{
                top: -240px;
            }
            &:nth-child(8) .three{
                top: -280px;
            }
            &:nth-child(9) .three{
                top: -320px;
            }
            
        } 
    }     
}
