.main{
    .clazz{
        width: 1200px;
        height: 19.5px;
        margin: 10px 31.5px;
        font-size: 14px;
    }
    .group{
        width: 1199px;
        height: 35px;
        border: 1px solid #ccc;
        margin: 0 auto;
        .groupleft{
            width: 160px;
            height: 29px;
            background: #efffdb;
            padding: 3px 10px 3px 20px;
            float: left;
        }
        .groupright{
            width: 843px;
            height: 30px;
            line-height: 30px;
            padding: 3px;
            overflow: hidden;
            float: left;
            a{
                cursor: pointer;
                padding: 5px 10px;
                color: #666;
            }
        }
    }
    .condition{
        height: 26px;
        width: 1200px;
        margin: 0 auto;
    }
    .option{
        width: 1200px;
        height: 42px;
        margin: 0 auto;
        .composite{
            float: left;
            font-size: 14px;
            span{
                width: 66px;
                height: 32px;
                color: white;
                float:left; 
                line-height: 30px;
                text-align: center;
                &:hover{
                    color: white;
                    background: #FFC000;
                }
            }
        }
        .optionRight{
            float: right;
            width: 276px;
            height: 32px;
            div{
                float: left;
                font-size: 12px;
                color: #666;
                margin-left: 15px;
            }
        }
    }
}
.mainlist{
    width: 1200px;
    height: 1472px;
    margin: 0 auto;
    .product{
        width: 240px;
        height: 368px;
        padding: 5px;
        float: left;
        cursor: pointer;
        box-sizing: border-box;
        .id{
            display: none;
        }
        .fromImg{
            width: 220px;
            height: 220px;
            margin: 0 auto;
        }
        .prod_price{
            font-weight: bold;
            color: red;
            height: 31.5px;
            line-height: 30px;
        }
        .prod_title{
            width: 226px;
            height: 31.5px;
            font-size: 12px;
            color: #666;
        }
        a{
            width: 226px;
            height: 30px;
            display: block;
            line-height: 30px;
            border: 1px solid #ddd;
            color: #999999;
        }
        &:hover{
            border: 2px solid rgba(255, 0, 0, 0);
            a{
                color: #FFC000;
            }
        }
    }
}
