* {
  margin: 0;
  padding: 0;
}

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}
dl  dt,dd{
  list-style: none;
}
a {
  text-decoration: none;
}

//banner
.banner{
    height: 360px;
    width: 1263px;
    overflow: hidden;
    z-index: 1111;
    position: relative;
    ul{
        height: 360px;
        width: 1263px;
        position: absolute;
        overflow: hidden;
        li{
            position: relative;
            width: 1263px;
            height: 360px;
            float: left;
            overflow: hidden;
            img{
                width: 100%;
                height: 360px;
            }
        }
    }
    .pages {
        width: 60%;
        height: 12px;
        position: absolute;
        bottom:55px; 
        left:40%; 
        >div {
            width: 12px;
            height: 12px;
            border-radius: 6px; 
            float:left; 
            margin-left:25px;
            cursor: pointer;
            background: white;
            &.current {
               background: #FFC000;
          }
      }
  }    
}
//sift
.sift{
    width: 100%;
    height: 275px;
    padding-top: 15px;
    margin: 0 auto;
    .photo{
        width: 1200px;
        height: 43px;
        position: relative;
        text-align: center;
        margin: 0 auto;
        img{
            margin: 0 auto;
        }
    }
    .imgList{
        width: 1210px;
        height: 230px;
        background: #fff;
        margin:0 auto;
        .indlist{
            width: 1140px;
            height:230px;
            overflow:hidden;
            float:left;
            div{
                width: 189px;
                height: 230px;
                position: relative;
                float: left;
                dl{
                    width: 190px;
                    height: 230px;
                    border-right:1px solid #ddd;
                    float: left;
                    overflow: hidden;
                    font-size: 12px;
                    text-align: center;
                    padding-top: 10px;
                    a{
                        margin: 10px 0 10px 0;
                    }
                    a img{
                        width: 160px;
                        height: 160px;
                        transform: translateY(0);
                        transition: transform .25s ease;  
                    }
                    dt{
                        color: #666;
                        margin-top: 5px;
                    }
                    dd{
                        color: red;
                        margin-top: 5px;
                    }
                }
                .joinCar{
                    color:#333;
                    position: absolute;
                    top: 230px;
                    left: 0;
                    width: 200px;
                    height: 50px;
                    line-height: 50px;
                    background: #ffc000;
                    font-weight: bold;
                    font-size: 16px;
                    text-align: center;
                    transition: top .25s ease
                } 
                &:hover{
                   .joinCar{
                        top:180px;
                    }  
                    img{ 
                        transform: translateY(-10px);
                    }
                }
            }
        } 
        .pages{display: none;}
        .preimg{display: block;}
        .next{
            width: 44px;
            height: 230px;
            text-align: center;
            float: left;
            position: relative;
            margin-left: 16px;
            .nextimg{
                background: url(../images/slider-arrow.png) no-repeat -60px 0;
                width: 18px;
                height: 32px;
                top: 40%;
                left: 35%;
                position: absolute;
                cursor: pointer;
            }
        }
    }   
}
//list
.productList{
    .big_container{
        width: 1200px;
        height: 540px;
        margin: 0 auto;
        .state{
            height: 30px;
            padding-top: 45px;
            margin-bottom: 5px;
            .title{
                font-size: 24px;
                color: #666;
                margin: 0 8px 0 45px;
            } 
            .content{
                font-size: 14px;
                color: #666;
            }
        }
        .contList{
            width: 1200px;
            height: 460px;
            .listBig{
                width: 400px;
                height: 460px;
                float: left;
                position: relative;
                a{
                    width: 450px;
                    height: 460px;
                    position: absolute;
                    left: -50px;
                    bottom: 0;
                    overflow: hidden;
                    display: block;
                    text-align: right;
                    color: #666;
                    img{
                        border: none;
                    }
                }
            }
            .listContent{
                width: 800px;
                height: 460px;
                overflow: hidden;
                background: #fff;
                float: left;
                div{
                    width: 199px;
                    height: 230px;
                    position: relative;
                    float: left;
                    overflow: hidden;
                    border-bottom: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    dl{
                        width: 199px;
                        height: 230px;
                        float: left;
                        overflow: hidden;
                        font-size: 12px;
                        text-align: center;
                        padding-top: 10px;
                        a{
                            margin: 10px 0 10px 0;
                        }
                        a img{
                            width: 160px;
                            height: 160px;
                            transform: translateY(0);
                            tranpsition: transform .25s ease;  
                        }
                        dt{
                            color: #666;
                            margin-top: 5px;
                        }
                        dd{
                            color: red;
                            margin-top: 5px;
                        }
                    }
                    .joinCar{
                        color:#333;
                        position: absolute;
                        top: 230px;
                        left: 0;
                        width: 200px;
                        height: 50px;
                        line-height: 50px;
                        background: #ffc000;
                        font-weight: bold;
                        font-size: 16px;
                        text-align: center;
                        transition: top .25s ease;
                    } 
                    &:hover{
                       .joinCar{
                            top:180px;
                        }  
                        img{ 
                            transform: translateY(-10px);
                        }
                    }
                }
                .none_border{
                    border-right: none;
                }
            }
        }
    }
}
//
.ladder{
    border: 4px solid #7BBE2B;
    width: 42px;
    height: 512px;
    position: fixed;
    bottom:10px;
    right: 0;
    background: white;
    display: none;
    .side_menu {
        list-style: none; 
        width: 42px;
        height: 504px; 
        .diff{
            span{
                color: #7BBE2B;
                a{
                   color: #7BBE2B; 
                }
            }
        } 
        .diffent{
            &:hover{
                a{
                    color: white;
                }
            }
        }
        li {
            width: 42px;
            height: 42px;
            line-height: 15px;
            border-bottom:1px solid #7BBE2B; 
            text-align: center; 
            position: relative;
            color: #666; 
            &:hover{
                background: #7BBE2B;
                span{
                    color: white;  
                }
            }        
            span {
                position: absolute; 
                font-size: 12px;
                padding: 5px 5px;
                left:0; 
                top:0; 
                width:32px; 
                height:30px; 
                line-height: 15px;
                text-align: center;
            }
            .heart{
                width: 42px;
                height: 42px;
                font-size: 12px;
                display: inline-block;
                background: url(../images/atction2.png)no-repeat 2px 5px;
            }
            .see{
                display: none;
                height: 37px;
                width: 74px;
                right: 78px;
                top: 0;
                line-height: 17px;
                cursor: pointer;
                padding-top:5px;
                border: 4px solid #7BBE2B;
                border-right:none;
                position: relative;
                border-radius: 3px 0 0 3px;
                font-size: 12px;
                color: #666;
                >a{
                    color: #ffc000;
                }
            }
            .atten{
                display: none;
                position: absolute;
                right: 46px;
                top: -44px;
                padding-top: 6px;
                border-radius: 3px 0 0 3px;
                border: 4px solid #7BBE2B;
                border-right:none;
                img{
                    width: 109px;
                    height: 109px;
                }
            }
            &:nth-child(10){
                &:hover{
                     .see{
                         display: block;
                     }
                }
            }
            &:nth-child(11){
                &:hover{
                     .atten{
                         display: block;
                     }
                }
            }
        }
        
        
    } 

}
//吸顶
.ceiling{
    width: 1200px;
    margin: 0 auto;
    position: fixed;
    top:10px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #7BBE2B;
    padding-left: 31px;
    display: none;
    h1{
        width: 190px;
        height: 43px;
        background: url(../images/PC-LOGO.png) no-repeat;
        float: left;
        >a {
          display: none;
        }
    }
     .search {
         width: 606px;
         height: 99px;
         float: left;
         margin-left: 150px;
         display: none;
         form {
             border: 1px solid #ffc000;
             border-radius: 4px;
             input{
                 border: none;
                 outline: none;
             }
             .txt{
                 width: 517px;
                 height: 32px;
                 line-height: 32px;
                 font-size: 12px;
             }
             .sub{
                 width: 82px;
                 height: 38px;
                 background: #ffc000;
                 font-size: 18px;
                 color: white;
             }
//           .association_box{
//               background: white;
//               top: 97px;
//               z-index: 1111;
//               border: 1px solid #ccc;
//               display: none;
//           }
         }
     } 
    .cart{
        width: 108px;
        height: 36px;
        line-height: 34px;
        border: 1px solid #ffc000;
        border-radius: 5px;
        padding-left: 50px;
        float: right;
        right: 0;
        position: relative;
        i {
            position: absolute;
            left: 120px;
            top: 2px;
            &:nth-child(1){ 
                font-size: 34px!important;
                color: #ffc000;
                left:10px;
            }
        }
        span {
            position: absolute;
            left:55px;
            a{
                font-size: 12px;
                color: #666666;
                &:hover{color: #ffc000;}
            }
        }
    }
}
