<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>购物车</title>
		<script src="../lib/requirejs/require.js" type="text/javascript" data-main="../js/cart" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/head.css"/>
		<link rel="stylesheet" type="text/css" href="../css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../css/cart.css"/>
	</head>
	<body>
		<div class="header"></div>
		<div class="mains">
			<h1>全部商品</h1>
			<div class="carts">
				<div class="carts_one">
					<span><label><input type="checkbox" id="chk_all">全选</label></span>
					<span class="id">全选</span>
					<span>图片</span>
					<span>商品信息</span>
					<span>单价</span>
					<span>数量</span>
					<span>金额</span>
					<span>操作</span>
				</div>
				<div class="cart_body">
					
				</div>
				<div class="foot">
					合计金额：<span class="total">0</span>
				</div>
			</div>
		</div>
		<div class="footer"></div>
		<script type="text/html" id="cart_template">
			<% 
				for (var i = 0, len = products.length; i < len; i++) {
					var prod = products[i];
			%>
			<div class="row">
				<span><input type="checkbox" class="chk_prod"></span>
				<span class="id"><%= prod.id %></span>
				<span><img src="<%= prod.imgSrc %>"></span>
				<span><%= prod.title %></span>
				<span class="price"><%= prod.price %></span>
				<span><span class="minus">-</span><input type="text" size="1" value="<%= prod.amount %>" class="			amount"><span class="add">+</span></span>
				<span class="sub"><%= prod.price * prod.amount %></span>
				<span><a href="javascript:void(0)">删除</a></span>
			</div>
			<% } %>
		</script>

	</body>
</html>
